*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
ul{
    list-style: none;
}

.site-header {
    display: flex;
    gap: 50px;
    align-items: center;
    padding: 20px;
}

.site-logo{
    font-family: sans-serif;
}
.menu-list{
    display:flex;
    gap: 20px;
    align-items: center;
}

.menu-link{
    text-decoration: none;
    font-weight: bold;
    color: rgb(199, 12, 12);
    font-size: 22px;
}

#home{
    display: flex;
    justify-content: center;
    align-items: center;
}

.home-title{
    position: absolute;
    padding: 30px;
    color: aliceblue;
    background-color: chocolate;
    font-size: 32px;
}

.home-bg-image{
    width: 100%;
}

.promotions-title{
    text-align: center;
    margin: 40px 0;
}
.promotions-image{
    display:flex;
    gap: 20px;
    justify-content: center;
}
#promotions .image-item{
    width: 405px;
    height: 251px;
    background-image: url(https://github.com/digitalcollegebr/projeto-digital-store/blob/main/public/collection-1.png?raw=true);
}